/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.bg-color{
    background-color: white;
}

/* shared style */
.display-flex{
    display: flex;
}


/* nav style */
.navbar{
 
    justify-content: space-between;
    align-items: center;
    
}
.brand{
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 20px;
    max-width: 450px;
    min-height: 53px;
}
.links{
    list-style: none;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 30px;
    max-width: 463px;
    min-height: 63px;
   
}
.item{
    margin: 10px;
}


/* banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    flex-direction: row;
 }
    
.banner-left{
    font-weight: 700;
    font-size: 3rem;
    color: rgba(58, 58, 58, 1);
    margin: 10px 0px;
}
.banner-description{
    font-weight: 600;
    font-size: 1rem;
    color: rgba(58, 58, 58, 1);
}
 .btn-primary{
    padding: 12px 24px;
    font-weight: 700;
    font-size: 1rem;
    background-color: rgba(224, 44, 109, 1.00);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
 }
 .banner-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 50%;
    
 }
.circle{
    position: absolute;
    width: 60%;
    left: 50%;
   
}
.camera{
    position: absolute;
    width: 40%;
    left: 60%;
  
}

/* main */
.our-sponsors{
    padding: 40px 0;
    text-align: center;
    max-width: 1440px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 width: fit-content;
  margin: 0 auto;
   padding: 20px 40px; 
 

    }
.sponsor-company{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
 
/* popular collection */
 

.popular-collection, .collection-title{
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 20px;
    margin: 30px 0;
    text-align: center;

}
.popular-collection-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
    margin: 130px;
     

}
.popular-collection-items, .c-item{
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
}
.popular-collection-items, .c-item h2{
    font-weight: 600;
    font-size: 1.75rem;
    color: rgb(24, 25, 31);
    text-align: left;
}
.price{
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    

}
.ratting{
     font-weight: 700;
  font-size: 14px;
  line-height: 22px;
 color: rgb(94, 99, 102);
 text-align: left;
 
}
 .ratting span i{
 color: rgb(251, 130, 0);
 
 }
 .product-description{
    font-weight: 700;
    font-size: 1rem;
    color: rgb(120, 120, 133);
    text-align: left;
 }
 